/* body {
  background: red;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .container {
  display: flex;
  flex-direction: column;
}
.first-line {
  background: blue;
}
.second-line {
  background: green;
}
.third-line {
  background: red;
} */
body {
  height: 100vh;
}
.container {
  width: 95%;
  height: 500px;
  display: grid;
  grid-template:
    "eat eat eat opti opti opti" 1fr
    "eat eat eat opti opti opti" 1fr
    "move move trash trash num num" 1fr
    "choose choose choose best best best" 1fr
    "choose choose choose best best best" 1fr;
}
.card {
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  color: whitesmoke;
  transform: scale(1);
}
.card:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 1;
  animation: transform 1s ease-in-out;
  border: 2px solid hsl(240, 77%, 69%);
  font-weight: 900;
}
@keyframes transform {
  from {
    transform: scale(1);
    border: 5px solid black;
    font-weight: 600;
  }
  to {
    transform: scale(1.1);
    border: 2px solid hsl(240, 77%, 69%);
    font-weight: 900;
  }
}
#eat {
  grid-area: eat;
  background: url(./img/eat.jpg) center/cover;
}
#opti {
  grid-area: opti;
  background: url(./img/conso.jpg) center/cover;
}
#move {
  grid-area: move;
  background: url(./img/move.jpg) center/cover;
}
#trash {
  grid-area: trash;
  background: url(./img/trash.jpg) center/cover;
}
#num {
  grid-area: num;
  background: url(./img/num.jpg) center/cover;
}
#choose {
  grid-area: choose;
  background: url(./img/choose.jpg) center/cover;
}
#best {
  grid-area: best;
  background: url(./img/water.jpg) center/cover;
}
